<%- include ('partials/messages.ejs') %>


<!-- Search form -->
<form action="/profile/find-books" class="form-inline d-flex justify-content-center md-form form-sm mt-4">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input
    class="form-control form-control-sm ml-3 w-75"
    type="text"
    name="search"
    placeholder="Search Books"
    aria-label="Search"
  />
</form>

<div class="container-fluid">
  <!-- <h1>Books</h1> -->
  
  <div class="well">

  </div>
</div>
