
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">Welcome <%= user.fullname %>!</h1>
        <p class="text-center lead mb-3">To get started, tell us a little about yourself?</p>
        <%- include ('partials/messages.ejs') %> 

        <form id="dash-form" action="/dashboard" method="POST">
          <div class="form-group">
            <label for="email">Select Avatar</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Avatar"
            />
          </div>
          <label for="bio-text">Enter Bio: (optional)</label>
          <textarea id="bio-text" name="bio" form="dash-form"></textarea>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>

        <p class="lead mt-4">
        </p>
      </div>
    </div>
  </div>



<a href="/users/logout" class="btn btn-secondary">Logout</a>