<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img class="welcome-logo mx-auto" src="/static/img/logo-404.png" alt="">
        
        <h3>Uh oh! Something went wrong</h3>
      </div>
    </div>
  </div>