<% if (book.create) { %>
     <!-- Modal -->
    <div  class="modal" id="staticBackdrop" data-show="true" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>
<% } %> 


<!-- Bio -->
<div class="container-fluid">

    <div class="row">

        <div class="col-md-auto helper">
            <div class="profile-pic mt-5">
              <img
                class="img-thumbnail"
                src="static/img/blank-user.png"
                alt="profile picture"
                width="300"
                height="300"
              />
              <h2>Thomas</h2>
              <h4>@tcgilbert</h4>
              <br>
              <h6>Bio</h6>
              <p>Lorem ipsum dolor sit amet consectetur </p>
              <p>Lorem ipsum dolor sit amet consectetur </p>
              <p>Lorem ipsum dolor sit amet consectetur </p>
              <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
        </div>
    

<!-- feed -->
        <div class="col helper">
            <div class="profile-nav">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Books</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Authors</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Quotes</a>
                  </nav>
            </div>
        	<div class="card-container mt-3">
                <div class="well">
                    <h2>Book Title</h2>
                    <a href="#">More Details</a>
                </div>
                <div class="well">
                    <h2>Book Title</h2>
                    <a href="#">More Details</a>
                </div>
                <div class="well">
                    <h2>Book Title</h2>
                    <a href="#">More Details</a>
                </div>
        	</div>
        </div>
    </div>
</div>

<div>

    <a href="profile/find-books">Create new post</a>
</div>


