

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img class="welcome-logo mx-auto" src="/static/img/logo-gray.png" alt="">
        <h1>Think Ewe</h1>
        <% if (isLoggedIn) { %>
          <p>It looks like you are already logged in!</p>
          <a href="/profile" class="btn btn-dark btn-block mb-2"
          >My Profile</a
        >
        <% } else { %>
          <p>Create an account or login</p>
          <a href="/users/register" class="btn btn-dark btn-block mb-2"
            >Register</a
          >
          <a href="/users/login" class="btn btn-danger btn-block">Login</a>
        <% } %> 
      </div>
    </div>
  </div>