html,
body {
    height: 100%;
}

body {
    padding-top: 46px;
    background-color: whitesmoke;
}

.helper {
    border: 2px solid red;
}

.welcome-logo {
  width: 200px;  
  height: 200px;
}

.book-search-logo {
  width: 200px;  
  height: 200px;
  opacity: .3;
}

.logo-nav {
    width: 50px;  
    height: 50px;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -10px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.footer {
    height: 90px;
    /* padding-bottom: 80px; */
    background-color: lightgray;
  }

/* Profile page styling */
#profile-pic {
    border-radius: 100%;
    background-color: coral;
    border: 5px solid #222;
}

.personal-col {
    max-width: 350px;
}

.empty-page-text {
    font-size: 100px;
    color: lightgray;
    margin: 100px 0 0 50px;
}

.empty-page-text2 {
    font-size: 100px;
    color: lightgray;
}

.profile-nav {
    margin-top: 100px;
}

.book-post {
    background-color: snow;
    padding: 10px 3px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.post-author {
    margin-bottom: 5px;
}

.post-img {
    width: 105px;
    height: 159px;
}

.blurb {
    background-color: gainsboro;
    border-radius: 5px;
}

.title-container {
    width: 300;
}

.star-div {
    margin: auto 0;
}

textarea {
    width: 100%;
}

/* Book search styling */

.book-search-container {
    border: solid lightgray 1px;
    border-radius: 5px;
    background-color: snow;
    margin-bottom: 5px;
}


#book-img {
    margin: 0 auto;
    width: 120px;
    height: 150px;
}

.bio-box {
    max-width: 300px;
}



/* book post form styling */
.star {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.stars {
    margin: 0 auto;
}

.stars:hover {
    cursor: pointer;
}

.rating-displayed {
    font-size: large;
    letter-spacing: 0.5px;
}


#blurb {
    width: 100%;
    margin-top: 5px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* dashboard styling */

.avatar {
    margin: 3px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.avatar-edit {
    margin: 3px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.avatar-edit:hover {
    cursor: pointer;
}

.avatar:hover {
    cursor: pointer;
}

.avatar-selected {
    border: solid 3px dodgerblue;
}

