body {
    background-color: whitesmoke;
}

.helper {
    border: 2px solid red;
}

.profile-nav {
    margin-top: 100px;
}

.well {
    padding: 10px 3px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.img-frame {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.img-container {
    width: 150px;
    height: 230px;
}

#book-img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.star:hover {
    cursor: pointer;
}



.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}