body {
    background-color: whitesmoke;
}

.helper {
    border: 2px solid red;
}

.profile-nav {
    margin-top: 100px;
}

.well {
    padding: 10px 3px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

